/* 연차 조회 css : 지의 */
.annual-wrap{min-width: 1100px;}
/* 중앙 content */
.annual-content{
    padding: 40px 0;
}

/* 조회한 유저정보 div 크기 설정 */
.annual-user-info{
    height: 140px;
    border: 1px solid var(--color-navy);
    border-radius: 20px;
	margin: 0 0 30px 0;
}
.annual-only-text{font-size: var(--font11);}
.annual-user-info>div>*{vertical-align: middle;}

/* 총연차 input박스 크기조정 */
.annual-count {
    display: inline-block;
    width: 45px;
    height: 45px;
    padding: 0;
    text-align: center;
}


/* common.css에 있는 호버효과 x */
.annual-content .table-common>tbody>tr{pointer-events: none;}
.annual-table>tfoot{
    color: var(--color-navy);
    border-top: 2px solid var(--color-navy);
    font-weight: 600;
    background-color: var(--color-light-navy);
}

/* 스크롤 발생 높이 지정 */
.annual-table-div{height: 48vh;}
/* 스크롤 none */
.annual-table-div {
    -ms-overflow-style: none; /* 인터넷 익스플로러 */
    scrollbar-width: none; /* 파이어폭스 */
}
.annual-table-div::-webkit-scrollbar {
    display: none; /* 크롬, 사파리, 오페라, 엣지 */
}

#annual-count::-webkit-outer-spin-button,
#annual-count::-webkit-inner-spin-button {
	  -webkit-appearance: none;
	  margin: 0;
}