/* 총 연차 관리 css : 지의 */
/* 중앙 content */
.annual-content{ padding: 60px 80px 140px 80px; }

/* 표랑 수정버튼 간격 */
.annual-table{margin-top: 20px;}
/* common.css에 있는 호버효과 x */
.annual-content .table-common>tbody>tr{pointer-events: none;}

/* 버튼 왼쪽배치 */
.modify-btn{text-align: end;}

/* 모달 */
.modal-title{color: var(--color-navy);}
.annual-modify-modal .form-control{width: 100%;}
.modal-content{padding: 15px 20px;}