@charset "UTF-8";
.table{
    white-space: nowrap;
}
.select-box{width: 20; padding-top: 5px;}
#year1, #year2, #month1, #month2{margin-right: 9px;}
#year1, #year2{width: 34%;}
#day1, #day2{width: 26%;}
.wave{width: 3.3%; padding-top: 5px;}
.ad-search{width: 549px;}
.text{width: 6%; padding-top: 5px;}
.icon{
    border: none;
    border-top: hidden;
    padding: 8px 0px;
}
.ad-minus{
    margin-left: -26px;
    font-size: var(--font15);
}
.ad-pen{padding-left: 9px;}
#ad-btn{width: 6%;}
.attendance-table-div {
    overflow-y: auto;
    max-height: 55vh;
}
.attendance-thead{
    position: sticky;
    top: 0;
    background-color: var(--color-background);
}
select {
    background-color: var(--color-background);
    color: var(--font-black);
} 
.total{
    float: right;
    font-size: 24px;
    margin-right: 16.5%;
    margin-top: 12px;
}
.ad-minus {
    margin-right: 15px;
    font-size: 19px;
}
.ad-change { margin-right: -14px;}
