@charset "UTF-8";
.table{
    white-space: nowrap;
}
#year1, #year2, #month1, #month2{margin-right: 9px;}
#year1{width: 34%;}
#year2{width: 15.5%;}
#day1{width: 26%;}
#day2{width: 12%;}
.select-box1{
    width: 20%;
}
.wave{width: 3.3%;}
.search-wrap2{width: 549px;}
.text{width: 6%;}
.icon{
    border: none;
    border-top: hidden;
    padding: 8px 0px;
}
.ad-minus{
    margin-left: -26px;
    font-size: var(--font15);
}
.ad-pen{padding-left: 9px;}
#ad-btn{width: 6%;}