/* 메인 css : 지의 */

.main-wrap{height: 800px; margin-top: 60px; min-width: 1250px;}
.main-wrap>div{height: 100%;}
/* .main-wrap .col-7{width:64%;} */
/* 각각 컨텐츠 감싸고있는 네모박스 */
.square-box{ 
    border: 1px solid var(--color-light-gray);
    border-radius: 20px;
    box-shadow: 5px 5px 15px -5px rgba(221, 221, 221);
	margin: 24px 0;
}
.main-title {
    color: var(--color-navy);
    border-bottom: 1px solid var(--color-light-gray);
    padding-bottom: 13px;
    padding-left: 12px;
    margin: 20px 20px 0px 20px;
    font-weight: 600;
}
.main-content-wrap{margin: 10px 20px;}
.main-content-text{
    font-size: var(--font14);
    cursor: pointer;
    margin: 10px 0px;
}
.main-content-text>div{
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.main-naver-go{
    font-size: var(--font14);
}
/* ====================== 왼쪽 ====================== */
/* ---------- 공지사항 ---------- */
#board-box{height: 30%; min-height: 240px;}
#main-notice-title{cursor: pointer;}
/* ---------- 전자결재 ---------- */
#sign-box{height: 20%;min-height: 160px;}
.main-sign-count{font-size: 20px; color: var(--color-navy);}
#main-sign-go{padding-top:5px; padding-right: 12px; color: gray;}
/* ---------- 날씨 ---------- */
#weather-box{height: 40%;min-height: 320px;}

/* ====================== 오른쪽 ====================== */
/* ---------- 내정보 ---------- */
#my-box{height: 40%; padding: 10px 20px; min-height: 300px;}
/* 상단 시간 */
.main-time-box{
	height: 25%;
	border-bottom: 1px solid var(--color-light-gray);
}
#main-day{font-weight: 300;}
#main-time{font-size: 30px; font-weight: 300;}

/* 하단 내정보 및 출퇴근 */
.main-info{height: 75%; padding: 20px 0;}
.main-info-top{height: 78%; margin-left: 0; margin-right: 0;}
.main-info-bottom{height:22%; justify-content: center;}
.main-info-top .col-3{width: 30%;}
.main-d-day{
    font-size: var(--font13);
    color: gray;
}
#main-name{padding-top: 12px;}
.main-profile{
    width: 60px;
    height: 60px;
    border-radius: 70%;
    overflow: hidden;
    margin: auto;
}
#main-profile-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#main-name{font-size: var(--font20);}
.main-dp {padding-top: 5px;}
/* ---------- 출퇴근 버튼 ---------- */
.on_off_btn {
    height : 45px;
    border-radius: 25px;
    margin: 0 10px;
}
.on_off_btn input[type=radio] {
    display: none;
}
.on_off_btn label {
    display: block;
    border-radius: 25px;
    margin: 0 auto;
    text-align: center;
    height: -webkit-fill-available;
    line-height: 45px;
}
/* Checked */
.on_off_btn input[type=radio]:checked + label {
    background: var(--color-white);
    border: 1px solid;
    color: var(--color-navy);
    cursor: default;
}
/* Disabled */
.on_off_btn input[type=radio] + label {
    border-color:var(--color-navy);
    background-color:var(--color-navy);
    color: var(--color-white);
    cursor: pointer;
}


/* 출퇴근 버튼으로 test */
.navy-btn{
    border-color:var(--color-navy);
    background-color:var(--color-navy);
    color: var(--color-white);
    
}
.white-btn{
    background: var(--color-white);
    border: 1px solid;
    color: var(--color-navy);
    cursor: default;
    pointer-events: none;
}

#state img{width: 16px; height: 18px; background-color: var(--color-white);}
#state{margin-bottom: 7px;}
.select {position: relative;}
.select .option-list {
  position: absolute;
  z-index: 5;
  top: 100%;
  left: 0;
  width: 100%;
  overflow: hidden;
  max-height: 0;

}
.select.active .option-list {max-height: none;}
#state .select {cursor: pointer;}
#state .select .option-list { list-style: none; padding: 0;}
#state .select .option-list .option {padding-top: 5px;}

.color-frame{
	width: 15px;
	height: 15px;
    border-radius: 70%;
    display: inline-block;
}
#white{background: white; border: 1px solid black;}
#black{background: black;}
.mode-select {position: relative;}
.mode-select .mode-list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  overflow: hidden;
  max-height: 0;
}
.mode-select.active .mode-list {max-height: none;}
#color-mode .mode-select {cursor: pointer;}
#color-mode .mode-select .mode-list { list-style: none; padding: 0;}
#color-mode .mode-select .mode-list .mode {padding-top: 5px;}


/* ---------- 캘린더 ---------- */
#calender-box{
    height: 60%;
    padding: 30px 22px 0 20px;
}
/* 양쪽 화살표 버튼 */
#calender-box .fc-button-primary {
    color: var(--color-navy);
    background-color: var(--color-white);
    border-color: var(--color-white);
}
/* 보더 없앰 */
#calender-box .fc th, .fc td {
    border-style: solid;
    border-width: 0px;
    vertical-align: top;
}
/* 연/월 폰트 설정 */
#calender-box  .fc-center>div>h2 {
    font-size: 26px;
    font-weight: 300;
}
/* th 폰트 굵기 */
#calender-box .fc th{font-weight: 500;}
/* td 숫자 위치 조정 및 폰트 */
#calender-box .fc-day-number {
    margin-top: 10px;
    margin-right: 10px;
    font-weight: 300;
    font-size: 12px;
}
/* 달력 숫자있는 곳 tr 높이 설정 */
#calender-box .fc-dayGrid-view .fc-body .fc-row {min-height: 3.2em;}
/* 오늘날짜 박스 */
/* #calender-box .fc-unthemed td.fc-today {border-radius: 10px;} */
/* 일정표시 */
#calender-box .fc-day-grid-event{
    width: 7px;
    height: 10px;
    border-radius: 70%;
    margin-left: 25px;
    margin-top: -16px;
}

#calender-box .fc-unthemed td.fc-today{
    background: var(--fc-today-tobay);
 
}

/* ---------- 날씨 ---------- */
.weather .row{
    margin-left: 0;
    margin-right: 0;
}
/* .weather{margin-top: 20px;} */
.city{
    display: inline-block;
    float: right;
    font-weight: normal;
    font-size: 16px;
    padding-top: 5px;
    padding-right: 12px;
}
.currIcon{height: 134px;}
.currIcon img{width: 146px;}
.currTemp{
    font-size: 40px;
    font-weight: 300;
    padding-bottom: 10px;
}
.currTemp>span{font-size: 16px; vertical-align: text-top;}
.currWind, .currLT{align-self: end;}
.weather_text_s{
    font-weight: 300;
    overflow: hidden;
    white-space: nowrap;
}
.week-weather>div{justify-content: space-between;}
/* 중앙배치 */
.week-weather>.row{
    align-self: center;
    border: 1px solid var(--color-light-gray);
    border-radius: 20px;
    padding: 20px 0;
}
.week-weather {margin-top: 20px;}
.week-weather>.text-end {margin-top: 5px;}
.weekIcon{margin: 24px auto;}
.weekIcon img{width: 48px;}
.weekDay{font-weight: 300;}
.currHumidity svg{width: 16px; height: 16px;}
#main-naver-go{
    color: gray;
    text-decoration: none;
    font-size: var(--font14);
}

