body *{
    box-sizing: border-box;

}
#sidebar{
    border: 1px solid blue;
    width: var(--side-bar);
    height: 100vh;
    position: fixed;
    left: 0;
}
.title-box {
    margin-bottom: 20px;
}
.oc-accordion-btn{
    padding-bottom: 7px;
}
.oc-accordion-btn>input{
    width: 58%;
    margin-right: 26px;
}
input{border: none;}
input:focus{
    outline: none;
}
.team-plus{
    padding-left: 16px;
    font-size: 14px;
}
.team-minus, .team-change{
    padding-left: 8px;
    font-size: 13px;
    cursor: pointer;
}
.li-team-minus, .li-team-change{
    padding-left: 8px;
    font-size: 11px;
    cursor: pointer;
}
.oc-all{
    padding-left: 15px;
}
.oc-all>li{
    cursor: pointer;
}
.right-box{padding: 8px 22px 0 22px;}
.name-btn-box{
    display: flex;
    justify-content: space-between;
}
.department-name-box{
    /* border-bottom: solid; */
    font-size: 18px;
    line-height: 35px;
    margin-bottom: 6px;
}
.change-btn{
    float: right;
    margin-bottom: 13px;
}
.all-check-btn{
    width: 1.25em;
    height: 1.25em;
    margin-top: 0.4em;
    font-size: 11px;
    cursor: pointer;
}
.check-btn{
    width: 1.25em;
    height: 1.25em;
    margin-top: 0.75em;
    font-size: 11px;
    cursor: pointer;
}
.position-plus-btn{
    font-size: 13px;
    float: left;
    cursor: pointer;
    padding-left: 0;
}
.position-plus-btn>i{
    padding-left: 4px;
    font-size: 10px;
}
.list-group{
    width: 100%;
}
.position-list{
    padding-top: 0;
    margin-top: -4px;
    padding-left: 0;
}
.list-group-item{
    border-bottom: none;
}
.position-list>input{
    width: 48%;
}
.position-ok, .position-cancel{
    width: 25%;
    font-size: 13px;
}
.change-ok, .change-cancel{
    width: 11%;
    font-size: 10px;
}
.position-modal{
    width: 50%;
    height: 35%;
    transform: translate(50%);
}
.position-change{
    padding-left: 4px;
    font-size: 13px;
    cursor: pointer;
}
.oc-ok-btn, .oc-cancel-btn{
    width: 12%;
}
.dropdown-toggle{
    background-color: white;
    color: black;
    font-size: 11px;
    border: none;
}
.box-shadow-none{
    border: none;
    font-size: 11px;
}
.change-tr{
    line-height: 27px;
}
.change-modal{
    width: 65%;
    transform: translate(31%);
}
.table{
    white-space: nowrap;
}
.org-footer{margin-right: 33.5%;}