body *{
    box-sizing: border-box;
}
.org-accordion-header{display: flex;}
.oc-accordion-btn{
    padding-bottom: 7px;
    margin-right: 13px;
    width: 66%;
    padding-left: 0;
    margin-left: 19px;
    cursor: default;
}
.oc-accordion-btn>input{
    width: 100%;
    margin-right: 26px;
    pointer-events: none;
}
.input-click>input{
    pointer-events: none;
}
input{border: none;}
input:focus{
    outline: none;
}
.team-plus{
    padding-left: 16px;
    font-size: var(--font14);
    cursor: pointer;
}
.team-minus, .team-change{
    padding-left: 8px;
    font-size: var(--font13);
    cursor: pointer;
}
.li-team-minus, .li-team-change{
    padding-left: 8px;
    font-size: var(--font11);
    cursor: pointer;
}
.oc-all{
    padding-left: 15px;
}
.oc-all>li{
    cursor: pointer;
}
.right-box{padding: 8px 22px 0 22px;}
.name-btn-box{
    display: flex;
    justify-content: space-between;
    margin-bottom: 17px;
}
.department-name-box{
    font-size: var(--font18);
}
.position-plus-btn{
    font-size: var(--font13);
    float: left;
    cursor: pointer;
    padding-left: 0;
}
.position-plus-btn>i{
    padding-left: 4px;
    font-size: 10px;
}
.list-group{
    width: 100%;
}
.position-list{
    padding-top: 0;
    margin-top: -4px;
    padding-left: 0;
    display: flex;
}
.list-group-item{
    border-bottom: none;
}
.position-list>input{
    width: 75%;
}
.position-icons{margin-left: 15px;}
.position-ok, .position-cancel{
    width: 25%;
    font-size: var(--font13);
}
.position-modal{
    width: 55%;
    height: 45%;
    transform: translate(50%);
}
.position-change{
    padding-left: 4px;
    font-size: var(--font13);
    cursor: pointer;
}
.position-minus{
    cursor: pointer;
}
.dropdown-toggle{
    background-color:  var(--color-white);
    color: black;
    font-size: 11px;
    border: none;
}
.box-shadow-none{
    border: none;
    font-size: var(--font14);
}
.change-tr{
    line-height: 33px;
}
.change-modal{
    width: 68%;
    transform: translate(31%);
}
.table{
    white-space: nowrap;
}
.org-footer{margin-right: 33.5%;}
.box-shadow-none:focus-visible{
    border: 0px;
    outline: none;
}
.d-grid>button, .personnel-btn{font-size: var(--font12);}
.dp-btn{font-size: var(--font12);}
.title-box{margin: 80px 0;}
.changeValue{background-color: var(--color-light-gray);}