

/*fome select 호버이벤트 설정*/
.form-select:focus{
    border-color: var(--navy-hover); 
    box-shadow: 0 0 0 0.1rem var(--navy-hover);
}
.form-select-sm {
    min-width: 100px;
    width: 10%;
}


/*세로 방지*/
.table{
    white-space: nowrap;
}

/*버튼위치 조정*/
.text-right{
    text-align: right;
}



/*모달 */
/*table 빈칸 적용 */
.t-height{
    height: 41px;
}

/*세로 방지*/
.f-nowrap{
    white-space: nowrap;
}


/*모달 타이틀*/
.salary-title{
    font-weight: 700;
    font-size: 20px;
}



/*모달 footer 정리*/
.t-margin{
    margin: 10px;
}

.modal-footer {
    display: block;
    font-size: 18px;
}

.t-flex{
    display: flex;
    justify-content: end;
}


/*인쇄 저장 아이콘 정렬 */
.salary-btn{
    display: flex;
    justify-content: flex-end;
}

.salary-btn> button{
    font-size: 25px;
}

.salary-btn> button:hover{
    background-color: var(--white-hover);
}

.form-control:focus {
    border-color: var(--navy-hover); 
    box-shadow: 0 0 0 0.1rem var(--navy-hover);
}