/*
[혜린]
*/
body *{
    box-sizing: border-box;

}


/* 게시판 전체 넓이 고정크기지정 */
.board-wrap{
    width: 1000px;
}

/* 게시판 상단 카테고리 버튼 */
.board-wrap1{
    margin-top: 20px;
}
.board-title-btn-wrap{
    display: flex;
    justify-content: center;

}
.board-title-btn{
    text-decoration-line: none;
    text-align: center;
    color: var(--color-navy);
    font-weight: 600;
    width: 150px;
    height: 40px;
    margin: 0 5px;
    line-height: 2.5;
    border-bottom: 1px solid  var(--color-navy);
}
.board-title-btn:hover, .c-page{
    color: white;
    background-color: var(--color-navy);
    border-bottom: 0;
    border-radius: 0.5em;
}
/* 글쓰기 버튼 */
.board-wrap2{
    display: flex;
    justify-content: right;
    margin-top: 30px;
}


/* 테이블 박스 높이 고정 */
.board-wrap3{
    height: 585px;
}

/* 게시판 타이틀 */

.th3{
    width: 20%;
}
.th4{
    width: 17%;
}
.th5{
    width: 7%;
}
/* 게시판 컨텐츠 제목 */
.table{
    white-space: nowrap;
}
.list-ctn-title{
    text-align: left;
    padding-left: 30px !important;
    padding-right: 30px !important;
}
/* 공지사항 고정게시글 */
.notice-fixed{
    background-color: rgba(235, 235, 235, 0.575);
}

/* 페이징바 */
.board-wrap4{
    height: 50px;
}
.pagination>li>a {
    font-size: var(--font13);
}

/* 하단 검색창 */
.select-box{
    width: 90px;
    height: 30px;
    font-size: var(--font13);
}
.search-box{
    height:27px;
}
.board-wrap5>*{
    display: flex;
    justify-content: center;
}



