.modal-xl {
  min-width: 800px;
}

.approval-form-wrap {
  min-width: 700px;
}

.approval-form-table {
  width: 90%;
  min-width: 700px;
  margin: auto;
  margin-top: 3rem;
}

.approval-form-table select {
  border: 0px;
  cursor: pointer;

  color: var(--color-navy);
  font-weight: 600;

  vertical-align: middle;
  text-align-last: center;
}

.approval-form-wrap select:focus-visible,
.approval-form-wrap input:focus-visible {
  outline: none;
}

.approval-form-table input[type='checkbox'] {
  width: 1rem;
  height: 1rem;
}

.div-delete-box {
  position: relative;
}

#btn-delete-selected-form {
  width: max-content;
  font-size: var(--font13);
  margin-left: 1rem;
  position: absolute;
  left: 70%;
  top: 50%;
  transform: translate(0, -50%);
}

th:nth-child(1) {
  width: 10%;
  min-width: 70px;
}

th:nth-child(2) {
  width: 70%;
  min-width: 300px;
}
/* 
td{
  width: 100px;
}

td:nth-child(2) div{
  max-width: 10%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; 
} */

th:nth-child(3) {
  width: 20%;
  min-width: 140px;
}

.approval-form-wrap .btn-wrap {
  margin-top: 1.5rem;
}

.approval-form-wrap .btn-wrap button {
  font-size: var(--font13);
  margin-right: 1rem;
}

.type-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
  margin-top: 0px;
  margin-bottom: 2rem;
}

.type-wrap > div {
  display: flex;
  align-items: center;
}

.type-title {
  text-align: center;
  border-left: 3px solid var(--color-navy);
  margin-right: 1rem;
  padding: 0px 1rem;
}

#add-form-modal select {
  cursor: pointer;
}

#add-form-modal button {
  font-size: var(--font14);
}

#add-form-modal input:focus-visible,
#add-form-modal select:focus-visible {
  outline: none;
}

#btn-form-delete {
  display: none;
}

#copy-form {
  position: absolute;
  display: flex;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.15);
  z-index: 1;
}

.custom-modal {
  margin: auto;
  width: 70%;
  background-color: var(--bs-modal-bg);
  background-clip: padding-box;
  border: var(--bs-modal-border-width) solid var(--bs-modal-border-color);
  border-radius: var(--bs-modal-border-radius);
  outline: 0;
}

.copy-select-wrap {
  display: grid;
  grid-template-columns: 0.4fr 1fr 0.2fr;
  grid-template-rows: 1fr;
  align-items: center;
  padding-bottom: 1rem;
}

.copy-select-wrap > :nth-child(1) {
  grid-area: 1/1/2/2;
  text-align: center;
  border-left: 3px solid var(--color-navy);
  width: max-content;
  margin: auto;
  padding-left: 1rem;
}

.copy-select-wrap > :nth-child(2) {
  grid-area: 1/2/2/3;
  text-align: center;
  margin: auto;
  width: 90%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.copy-select-wrap > :nth-child(3) {
  grid-area: 1/3/2/4;
  text-align: center;
  margin: auto;
}

#form-name {
  width: 25vw;
  min-width: 300px;
}

#add-form-modal .modal-header {
  border-bottom: 0px;
}

/* 양식복사 모달 감추기 */
#copy-form {
  display: none;
}

/* --- 페이징 버튼 영역  --- */
.paging-bar {
  width: fit-content;
  margin: auto;
  margin-top: 1rem;
}

.disable-btn {
  display: none;
}

.paging-bar button {
  background-color: var(--color-background);
  font-size: 0.75rem;
  color: var(--color-navy);
  border: none;
  padding: 0.3rem 0.7rem;
  border-radius: 0px;
}

.paging-bar .selected-btn {
  pointer-events: none;
  color: white !important;
  background-color: var(--color-navy);
  box-shadow: none;
}

.paging-bar .page-btn:hover {
  color: var(--color-navy);
  border-color: var(--white-hover);
  background-color: var(--white-hover);
}

.paging-bar .selected-btn:hover {
  color: white !important;
  background-color: var(--color-navy);
  box-shadow: none;
}

#prev-btn:hover,
#next-btn:hover {
  background-color: var(--color-light-gray);
}
