:root {
  /* 흐린 검정선 */
  --color-blurred-black: rgba(0, 0, 0, 0.2);
}

* {
  box-sizing: border-box;
}

#approval .modal-header {
  border-bottom: 0px;
  padding-bottom: 0px;
}

#approval button {
  font-size: var(--font13);
}

#approval select:focus-visible,
#approval input:focus-visible {
  outline: none;
}

.write-approval-table {
  vertical-align: middle;
  width: 100%;
  margin-bottom: 1rem;
  caption-side: bottom;
  border-collapse: collapse;
  background-color: rgba(0, 0, 0, 0.01);
  border-radius: 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.02);
}

.write-approval-table .btn-outline-primary {
  background-color: var(--color-background);
}

.write-approval-table tr {
  background-image: linear-gradient(
    rgba(255, 255, 255, 0) 90%,
    rgba(0, 0, 0, 0.02)
  );
}

.write-approval-table td:nth-child(1),
.write-approval-table td:nth-child(3),
.write-approval-table td:nth-child(5) {
  text-align: center;
  vertical-align: top;
}

.write-approval-table td:nth-child(1) > div,
.write-approval-table td:nth-child(3) > div,
.write-approval-table td:nth-child(5) > div {
  border-left: 3px solid black;
  width: 100px;
  margin: 0.5rem 0px;
}

.approval-line-wrap {
  width: 90%;
  display: flex;
}

.approval-line-wrap > :nth-child(1) {
  width: fit-content;
  height: fit-content;
  margin-top: 0.5rem;
  margin-right: 3rem;
}

.approval-line-wrap > :nth-child(2) {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  flex: 1;
}

#btn-add-lines,
#btn-add-file {
  padding: 4px 12px;
}

#approval-title {
  width: 90%;
}

#approval .approval-lines,
#approval .approval-files {
  max-height: 100px;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background-color: var(--color-background);
}

#approval .approval-files > div {
  overflow: auto;
  overflow-x: hidden;
  height: 100%;
}
#approval .approval-lines ol {
  overflow: auto;
  overflow-x: hidden;
  margin-bottom: 0px;
  height: 100%;
}

#approval .approval-lines ol b {
  color: var(--color-navy);
  margin: 10px 0.5rem;
}

#approval .approval-files > div > div {
  font-size: var(--font14);
  margin: 0.5rem 1rem;
  display: flex;
}

#approval .approval-files > div > div:hover .btn-file-delete {
  display: block;
}

.btn-file-delete {
  border-radius: 4px;
  color: black;
  background-color: rgba(255, 255, 255, 0);
  padding: 0px 6px;
  margin-left: 1rem;
  border: 1px solid var(--color-navy);
  /* 마우스 오버하면 보이게 */
  display: none;
}

#date {
  text-align: center;
  cursor: pointer;
  margin-left: 0.5rem;
  border-radius: 4px;
  border: 1px solid var(--color-navy);
}

#approval-line-modal {
  position: absolute;
  display: flex;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.15);
  z-index: 1;
  /* 모달 감추기 */
  display: none;
}

#approval .modal-xl {
  min-width: 800px;
}

.custom-modal {
  margin: auto;
  width: 80%;
  min-width: 630px;
  height: 70%;
  min-height: max-content;
  background-color: var(--bs-modal-bg);
  background-clip: padding-box;
  border: var(--bs-modal-border-width) solid var(--bs-modal-border-color);
  border-radius: var(--bs-modal-border-radius);
  outline: 0;
  display: flex;
  flex-direction: column;
  position: relative;
}

.custom-modal .modal-body {
  padding-top: 0px;
}

.line-wrap {
  width: 100%;
  height: 100%;
  min-height: max-content;
  display: flex;
}

.org-chart {
  margin: auto;
  width: 48%;
  height: 90%;
  padding: 1rem;
  border-radius: 4px;
  border: 1px solid var(--color-blurred-black);
}

.org-table-head {
  margin: 0px;
}

.org-table-content {
  width: 95%;
  height: calc(100% - 3rem);
  margin: auto;
  overflow: auto;
}

.favor-table {
  --bs-table-border-color: white;
}

.my-list {
  margin: auto;
  width: 48%;
  height: 90%;
  min-height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.my-favor {
  height: 23vh;
}

.my-favor table {
  width: 95%;
  margin: auto;
}

.my-favor tbody {
  overflow: auto;
  overflow-x: hidden;
  display: block;
  height: calc(23vh - 48px);
}

.my-favor tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.my-favor tbody td {
  position: relative;
}

.my-favor,
.selected-lines {
  border: 1px solid var(--color-blurred-black);
  border-radius: 4px;
}

.btn-favor-delete {
  padding: 4px 8px;
  position: absolute;
  top: 10%;
  right: 5%;
  /* 마우스 오버하면 버튼 보이게 */
  display: none;
}

.selected-lines {
  height: 40%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}

.selected-lines select {
  border: 0px;
  color: var(--color-navy);
}

.selected-lines ol {
  height: calc(100% - 40px);
  overflow: auto;
  overflow-x: hidden;
  list-style-type: decimal;
  list-style: decimal;
}

.selected-lines li {
  font-size: var(--font14);
  width: 80%;
  max-width: 200px;
  position: relative;
  margin-bottom: 0.5rem;
}

.selected-lines li select {
  margin-left: 5%;
  margin-right: 5%;
}

.btn-selected-delete {
  height: 100%;
  padding: 0px 6px;
  position: absolute;
  transform-origin: 0px 0px;
  top: 0px;
  right: -34px;
  /* 마우스 오버시 버튼 보이게 */
  display: none;
}

#btn-submit-line {
  width: 95%;
  margin: auto;
  margin: 0.5rem auto;
}

.favor-modal-back {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
  /* 모달 감추기 */
  display: none;
}

#favor-add-modal {
  width: 500px;
  height: max-content;
}

.favor-modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.favor-modal-body > div {
  border-left: 4px solid var(--color-navy);
  margin-top: 1.5rem;
  padding-left: 1rem;
  border-radius: 2px;
}
.favor-modal-body p {
  margin-top: 0.5rem;
  font-size: var(--font13);
}
.favor-modal-body button {
  width: 90%;
  margin-top: 1rem;
}

#input-favor-title {
  margin-left: 1rem;
  width: 250px;
}
