
 
.modal-xl{
  min-width: 800px;
}


.approval-wrap {
  min-width: 800px;
}

.approval-form-table {
  width: 90%;
  min-width: 700px;
  margin: auto;
  margin-top: 3rem;
}

.approval-form-table select {
  border: 0px;
  cursor: pointer;

  color: var(--color-navy);
  font-weight: 600;

  vertical-align: middle;
  text-align-last: center;
}

.approval-form-wrap select:focus-visible,
.approval-form-wrap input:focus-visible {
  outline: none;
}

.approval-form-table input[type='checkbox'] {
  width: 1rem;
  height: 1rem;
}

th:nth-child(1) {
  width: 10%;
  min-width: 70px;
}

th:nth-child(2) {
  width: 70%;
  min-width: 300px;
}
/* 
td{
  width: 100px;
}

td:nth-child(2) div{
  max-width: 10%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; 
} */

th:nth-child(3) {
  width: 20%;
  min-width: 140px;
}

.approval-wrap .btn-wrap {
  margin-top: 1.5rem;
}

.approval-wrap .btn-wrap button {
  font-size: var(--font13);
  margin-right: 0.8rem;
}

.type-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
  margin-top: 0px;
  margin-bottom: 2rem;
}

.type-wrap > div{
  display: flex;
  align-items: center;
}

.type-title{
  text-align: center;
  border-left: 3px solid var(--color-navy);
  margin-right: 1rem;
  padding: 0px 1rem;
}

#add-form select {
  cursor: pointer;
}

#add-form button {
  font-size: var(--font14);
}

#add-form input:focus-visible,
#add-form select:focus-visible {
  outline: none;
}

#copy-form {
  position: absolute;
  display: flex;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.15);
  z-index: 1;
}

.custom-modal {
  margin: auto;
  width: 70%;
  background-color: var(--bs-modal-bg);
  background-clip: padding-box;
  border: var(--bs-modal-border-width) solid var(--bs-modal-border-color);
  border-radius: var(--bs-modal-border-radius);
  outline: 0;
}
 


.copy-select-wrap {
  display: grid;
  grid-template-columns: 0.4fr 1fr 0.2fr;
  grid-template-rows: 1fr;
  align-items: center;

  padding: 1rem 0px;
}

.copy-select-wrap > :nth-child(1) {
  grid-area: 1/1/2/2;
  text-align: center;
  border-right: 2px solid var(--color-navy);
  width: max-content;
  margin: auto;
  padding-right: 20%;
}

.copy-select-wrap > :nth-child(2) {
  grid-area: 1/2/2/3;
  text-align: center;
  margin: auto;
  width: 90%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.copy-select-wrap > :nth-child(3) {
  grid-area: 1/3/2/4;
  text-align: center;
  margin: auto;
}

#add-form .modal-header{
  border-bottom: 0px;
}

/* 양식복사 모달 감추기 */
#copy-form{
  display: none;  
}
