.my-approval-wrap {
  min-width: 800px;
}

.my-approval-wrap button {
  font-size: var(--font13);
}

.my-approval-wrap select:focus-visible,
.my-approval-wrap input:focus-visible {
  outline: none;
}

.top-menubar {
  display: flex;
  margin-top: 3rem;
}

.top-menubar > * {
  width: 10%;
  min-width: 100px;
  text-align: center;
  border: 1px solid var(--color-navy);
  border-right: 0px;
  padding: 0.4rem 1rem;
}
.line {
  flex: 1;
  border: 0px;
  border-left: 1px solid var(--color-navy);
  border-bottom: 1px solid var(--color-navy);
}

.inner-wrap,
.selected {
  background-color: rgb(255, 255, 255);
  border-bottom: 0px;
}

.inner-wrap {
  width: 100%;
  min-height: 50vh;
  padding: 1.5rem 1rem;
}

.btn-wrap > button {
  margin-right: 1rem;
}
