:root {
  --color-light-blue: rgba(3, 3, 97, 0.06);
}

.modal-lg {
  min-width: 500px;
}

.my-approval-wrap {
  min-width: 800px;
}

.my-approval-wrap button {
  font-size: var(--font13);
}

.my-approval-wrap select:focus-visible,
.my-approval-wrap input:focus-visible {
  outline: none;
}

.top-menubar {
  display: flex;
  margin-top: 3rem;
}

.inner-wrap {
  min-width: 900px;
}

.top-menubar > div {
  width: 10%;
  min-width: 120px;
  text-align: center;
  border: 1px solid var(--color-navy);
  border-right: 0px;
  padding: 0.4rem 1rem;
  cursor: pointer;
}

.top-menubar > div:hover {
  background-color: var(--color-light-navy);
}

.selected.top-menubar-item {
  pointer-events: none;
}

div.line:hover,
div.selected:hover {
  background-color: var(--color-background);
}

div.line {
  flex: 1;
  border: 0px;
  border-left: 1px solid var(--color-navy);
  border-bottom: 1px solid var(--color-navy);
  cursor: auto;
}

.alarm-wrap {
  display: inline;
  width: fit-content;
  position: relative;
  text-align: center;
}

.alarm-balloon {
  box-shadow: 1px 1px 3px #00000040;

  min-width: 20px;
  padding: 0.125rem 0.3125rem 0.125rem 0.3125rem; /* 위.아래 2px, 좌.우 5px */
  border: 0px;
  background-color: tomato;
  border-radius: 50%;
  font-size: 0.3125rem; /* 5px */
  color: white;
  position: absolute;
  left: 100%;
  top: -40%;
  transform: translate(0, 0);
}

.alarm-hide {
  display: none;
}

.inner-wrap,
div.selected {
  background-color: rgb(255, 255, 255);
  border-bottom: 0px;
}

.inner-wrap {
  width: 100%;
  min-height: 50vh;
  padding: 1.5rem 1rem;
}

#select-year {
  min-width: 100px;
  cursor: pointer;
  color: var(--color-navy);
  font-weight: 600;
  vertical-align: middle;
  text-align-last: center;
  margin: 0.5rem 0px;
}

#select-year option {
  text-align: center;
}

#select-year option:hover {
  background-color: var(--color-light-navy);
}

#check-show-type,
#check-show-status {
  border: 0px;
  cursor: pointer;
  color: var(--color-navy);
  font-weight: 600;
  vertical-align: middle;
  text-align-last: center;
}

.my-approval-table {
  table-layout: fixed;
}
.my-approval-table th:nth-child(1) {
  width: 5%;
}
.my-approval-table th:nth-child(2) {
  width: 15%;
}
.my-approval-table th:nth-child(3) {
  width: 50%;
}
.my-approval-table th:nth-child(4) {
  width: 10%;
}
.my-approval-table th:nth-child(5) {
  width: 10%;
}
.my-approval-table th:nth-child(6) {
  width: 10%;
}

.my-approval-table td:nth-child(3) {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.btn-wrap > button {
  margin-right: 0.5rem;
}

#sign-modal .modal {
  min-width: 350px;
}

.sign-img-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign-img-item {
  margin: 2rem;
}

.sign-img-item > div {
  margin-bottom: 0.4rem;
}

.sign-img-item img {
  width: 80px;
  height: 80px;

  border: 1px solid black;
}

.sign-btn-wrap {
  display: flex;
  justify-content: flex-end;
}

#btn-sign-img-save {
  margin-right: 1rem;
}

/* --- 페이징 버튼 영역  --- */
.paging-bar {
  width: fit-content;
  margin: auto;
  margin-top: 1rem;
}

.disable-btn {
  display: none;
}

.paging-bar button {
  background-color: var(--color-background);
  font-size: 0.75rem;
  color: var(--color-navy);
  border: none;
  padding: 0.3rem 0.7rem;
  border-radius: 0px;
}

.paging-bar .selected-btn {
  color: white !important;
  background-color: var(--color-navy);
  box-shadow: none;
}

.paging-bar .page-btn:hover {
  color: var(--color-navy);
  border-color: var(--white-hover);
  background-color: var(--white-hover);
}

.paging-bar .selected-btn:hover {
  color: white !important;
  background-color: var(--color-navy);
  box-shadow: none;
}

#prev-btn:hover,
#next-btn:hover {
  background-color: var(--color-light-gray);
}
