/* 마이페이지 css : 지의 */

/* 그림자있는 박스 */
.mypage-wrap{
    border: 1px solid var(--color-light-gray);
    border-radius: 20px;
    box-shadow: 5px 5px 15px -5px rgba(221, 221, 221);
    margin-top: 80px;
    min-width: 1100px;
}

/* 중앙 content */
.mypage-content{
    padding-top: 80px;
    padding-bottom: 90px;
}

/* 왼쪽 사진 영역 */
.mypage-left{padding-left: 120px;}
.mypage-profile-box{
    width: 80px;
    height: 80px;
    border-radius: 70%;
    overflow: hidden;
    margin: auto;
}
.mypage-profile {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.profile-btn{
    text-align: center;
    margin-top: 20px;
}


/* 오른쪽 내용 영역 */
.mypage-right{padding-left: 100px;}
.mypage-right label{color: var(--color-navy);}
.fs-14{
    font-size: var(--font14);
    color: var(--color-navy);
    font-weight: 500;
}
.fs-18{font-size: var(--font18);}
.mypage-input{
    border-top: 0;
    border-left: 0;
    border-right: 0;
    font-size: 18px;
}
/* input박스 가로길이 */
.form-control {width: 70%;}
.seach-btn{border: 0;}

/* 버튼상단 마진 */
.text-center{margin-top: 80px;}
.pass-re{ margin-left: 50px;}


/* 모달 */
.modal-title{
    color: var(--color-navy);
}
.change-pwd-div .form-control{width: 100%;}
.modal-content{padding: 15px 20px;}


#toast {
    z-index: 9999;
    visibility: hidden;
    position: fixed;
    bottom: 48vh;
    left: 50vw;
    transform: translateX(-50%);
    min-width: 100px;
    border-radius: 25px;
    background-color: #000000a4;
    color: #ffffff;
    padding: 15px 25px;
}
#toast.toastShow {
    visibility: visible;
    animation: fade-in 700ms, fade-out 700ms 2000ms;
}
@keyframes fade-in {
from {
    opacity: 0;
}
to {
    opacity: 1;
}
}
@keyframes fade-out {
from {
    opacity: 1;
}
to {
    opacity: 0;
}
}

/*다크모드 input 박스*/
.mypage-input[color-theme='dark']{
    background: var(--color-background);
    color: var(--font-black);
}