/* 사이드바 css : 지의 */

:root{
    --side-bar : 60px;
    --color-white: rgb(255, 255, 255);
    --color-navy : rgb(3, 3, 62);
    
    --font11 : 0.69rem;
    --font12 : 0.75rem;
    --font13 : 0.81rem;
    --font14 : 0.875rem;
    --font15 : 0.937rem;
    --font18 : 1.125rem;
    --font20 : 1.25rem;
    --side-icon : 1.4rem;
}

.sidebar a {text-decoration: none;}
.sidebar ul, .sidebar li{list-style: none; padding: 0;}
.sidebar-icon{
	color: var(--color-white);
	font-size: var(--side-icon);
}
/* 줄바꿈 없앰 */
.sidebar-wrap > ul > li > a,.one-line {display: block; white-space: nowrap;}
.sidebar-more {white-space: nowrap;}



/* ========================== 사이드바 ========================== */
.sidebar{
    width: var(--side-bar);
    height: 100vh;
    position: fixed;
    background-color: var(--color-navy);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    top: 0;
    left: 0;
    transition: width 0.3s;
    z-index: 10; /* 제일 위로 올라와야함 */
	overflow: hidden;
	display: grid;
    grid-template-rows: 160px auto 160px;
}
.sidebar-logo{margin-top: 50px;}
/* ================ 상위 카테고리 ================ */
.side-icon-size {
    display: inline-block;
    width: 1.8rem;
    height: 1.9rem;
    text-align: center;
    line-height: 1.8rem;
    margin: 1rem var(--font15);
}
.sidebar-text{
    font-weight: 700;
    color: var(--color-white);
}
.sidebar-cursor{cursor: pointer;}
/* 사이드바 화살표 */
.sidebar-icon-arrow{
    color: var(--color-white);
    font-size: var(--font14);
    padding-left: 0.4rem;
}
/* 스크롤 none */
.sidebar-top {
    -ms-overflow-style: none; /* 인터넷 익스플로러 */
    scrollbar-width: none; /* 파이어폭스 */
}
.sidebar-top::-webkit-scrollbar {
    display: none; /* 크롬, 사파리, 오페라, 엣지 */
}


/* ================ 하위 카테고리 ================ */
.sidebar-bottom {
    position: fixed;
    bottom: 0;
    width: 60px;
}
.sidebar-more-text{
    font-size: var(--font14);
    font-weight: 500;
    color: var(--color-white);
    display: block;
    padding: 0 0 14px 62px;
}
.sidebar-bt{display: none;}

/* ========================== 채팅 아이콘 ========================== */
/* 위치설정 */
#chat-icon{
	z-index: 5;
	width: 50px;
	height: 50px;
	position: fixed;
   	bottom: 60px;
   	right: 60px;
}
/* 크기설정 */
#chat-icon>i{ cursor:pointer; font-size: 3rem; line-height: 1rem; }

