<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >



<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
		
		<setting name="logImpl" value="LOG4J"/>
		<!-- 
			마이바티스 쿼리문, 파라미터값, 실행결과를 로그를 통해 확인하기 위한 설정정보
		 	(실제 운영환경에서는 제거해야한다 - 로그가 엄청 길게 쌓이기 때문에 데이터를 많이 잡아먹음)
		 	value값에는 로그 출력 구현객체로  LOG4J라는 클래스를 지정함(MVC프로젝트를 만들면 자동으로 추가되어있음)
		 -->
		 
		<!-- DB에서 컬럼명 _로 되어있는거 자동 camelCase화 시켜주는 설정 -->
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	
	<typeAliases>
		<!-- 예시 <typeAlias type="com.kh.spring.member.model.vo.Member" alias="member"/> -->
		<typeAlias type="com.company.opeaceful.orgChart.model.vo.OrgChart" alias="orgChart"/>
		<typeAlias type="com.company.opeaceful.dept.model.vo.Department" alias="department"/>
		<typeAlias type="com.company.opeaceful.dept.model.vo.Position" alias="position"/>
		<typeAlias type="com.company.opeaceful.dept.model.vo.UserDepatment" alias="userDepatment"/>
		<typeAlias type="com.company.opeaceful.member.model.vo.Member" alias="member"/>
		<typeAlias type="com.company.opeaceful.board.model.vo.Board" alias="board"/>
		<typeAlias type="com.company.opeaceful.member.model.vo.ResignedMember" alias="resignedMember"/>
		<typeAlias type="com.company.opeaceful.attendance.model.vo.Attendance" alias="attendance"/>
		<typeAlias type="com.company.opeaceful.board.model.vo.BoardType" alias="boardType"/>
		<typeAlias type="com.company.opeaceful.member.model.vo.OnlineStatus" alias="onlineStatus"/>
		<typeAlias type="com.company.opeaceful.annual.model.vo.Annual" alias="annual"/>
	</typeAliases>
	
	<!-- 
		enviroments, datasource에 기술했던 db연결정보는 별도로 기술할 예정(root-context.xml에 작성)
		-> root-context.xml (db등록은 서버 연동과 동시에 이루어져야하기 때문에 
		서버연결과 동시에 읽혀지는 root-context.xml에 기술하는것임)
	 -->
	<mappers>
		<!-- 예시 <mapper resource="/mappers/member-mapper.xml"/> -->
		<mapper resource="/mappers/test.xml"/>
		<mapper resource="/mappers/orgChart-mapper.xml"/>
		<mapper resource="/mappers/dept-mapper.xml"/> 
		<mapper resource="/mappers/member-mapper.xml"/> 
		<mapper resource="/mappers/board-mapper.xml"/> 
		<mapper resource="/mappers/attendance-mapper.xml"/> 
		<mapper resource="/mappers/resignedmember-mapper.xml"/> 
		<mapper resource="/mappers/annual-mapper.xml"/> 
	</mappers>


</configuration>
