<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="boardMapper">
	<!-- [지의] - 메인 공지사항 -->
	<resultMap type="board" id="mainNoticeResultSet">
		<result column="BOARD_NO" property="boardNo"/>
		<result column="BOARD_TITLE" property="boardTitle"/>
		<result column="CREATE_DATE" property="createDate"/>
	</resultMap>
	
	<!-- [혜린] - 보드타입 테이블 -->
	<resultMap type="boardType" id="boardTypeResultSet">
		<id column="BOARD_CD" property="boardCd"/>
		<result column="BOARD_NAME" property="boardName"/>
	</resultMap>
	
	<!-- [혜린] - 보드파일 테이블 -->
	<resultMap type="boardFile" id="boardFileResultSet">
		<id column="FILE_NO" property="fileNo"/>
		<result column="BAORD_NO" property="boardNo"/>
		<result column="ORIGIN_FILE" property="originFile"/>
		<result column="CHANGE_FILE" property="changeFile"/>
	</resultMap>
	
	<!-- [혜린] - 게시글 목록조회 resultMap -->
	<resultMap type="board" id="boardListResultSet">
		<id column="BOARD_NO" property="boardNo" />
		<result column="BOARD_CD" property="boardCd"/>
		<result column="BOARD_TITLE" property="boardTitle"/>
		<result column="USER_NAME" property="userName"/>
		<result column="P_NAME" property="pName"/>
		<result column="CREATE_DATE" property="createDate"/>
		<result column="COUNT" property="count"/>
		<result column="FIXED" property="fixed"/>
	</resultMap>
	
	<!-- [혜린] - 게시글 상세조회 resultMap -->
	<resultMap type="board" id="boardDetailResultSet">
		<id column="BOARD_NO" property="boardNo" />
		<result column="BOARD_CD" property="boardCd"/>
		<result column="BOARD_TITLE" property="boardTitle"/>
		<result column="USER_NAME" property="userName"/>
		<result column="P_NAME" property="pName"/>
		<result column="BOARD_CONTENT" property="boardContent"/>
		<result column="CREATE_DATE" property="createDate"/>
		<result column="COUNT" property="count"/>
	</resultMap>

	<!-- [지의] - 메인 공지사항 조회 -->
	<select id="mainSelectNoticeList" resultMap="mainNoticeResultSet">
		SELECT BOARD_NO, BOARD_TITLE, CREATE_DATE
		  FROM BOARD
		 WHERE BOARD_CD = 'N'
		 ORDER BY CREATE_DATE DESC
		 LIMIT 0,5;
	</select>
	
	<!-- [혜린] - boardType 조회 -->
	<select id="selectBoardTypeList" resultMap="boardTypeResultSet">
		SELECT *
		FROM BOARD_TYPE
		ORDER BY BOARD_NAME; 
	</select>

	<!-- [혜린] - 게시글 목록조회 -->
	<select id="selectBoardList" resultMap="boardListResultSet">
	<choose>
	<when test='boardCode == "T"'>
		SELECT B.BOARD_NO, B.BOARD_TITLE, M.USER_NAME, B.CREATE_DATE, B.COUNT, P.P_NAME, FIXED
		  FROM BOARD B
	      LEFT JOIN MEMBER M ON B.BOARD_WRITER = M.USER_NO
	      LEFT JOIN USER_DEPARTMENT D ON M.USER_NO = D.USER_NO
	      LEFT JOIN POSITION P ON D.P_CODE = P.P_CODE
		 WHERE B.BOARD_CD = 'T'
		   AND B.DEPT_CODE = (SELECT D.DEPT_CODE
		 						FROM USER_DEPARTMENT D
		 					   WHERE D.USER_NO = #{userNo})
	 </when>
	 <when test='boardCode == "N"'>
	 SELECT B.BOARD_NO, B.BOARD_TITLE, B.BOARD_WRITER, B.CREATE_DATE, B.COUNT, FIXED
	 FROM BOARD B
 	 WHERE B.BOARD_CD = 'N'
	 </when>
	 <otherwise>
	 SELECT B.BOARD_NO, B.BOARD_TITLE, M.USER_NAME, B.CREATE_DATE, B.COUNT, P.P_NAME, FIXED
	 FROM BOARD B
        	 LEFT JOIN MEMBER M ON B.BOARD_WRITER = M.USER_NO
        	 LEFT JOIN USER_DEPARTMENT D ON D.USER_NO = M.USER_NO
        	 LEFT JOIN POSITION P ON D.P_CODE = P.P_CODE
 	WHERE B.BOARD_CD = 'F'
	 </otherwise>
 </choose>
 ORDER BY 
 	<if test='boardCode == "N"'>
 		FIXED = 'Y' DESC,
 	</if>
 		B.CREATE_DATE DESC, BOARD_NO DESC;
	</select>
	
	<!-- [혜린] - 검색된 게시글 목록조회 -->
	<select id="searchBoardList" resultMap="boardListResultSet">
		  <choose>
			  <when test='boardCode == "T"'>
			  SELECT B.BOARD_NO, B.BOARD_TITLE, M.USER_NAME, B.CREATE_DATE, B.COUNT, P.P_NAME, FIXED
			  FROM BOARD B
	          JOIN MEMBER M ON B.BOARD_WRITER = M.USER_NO
	          JOIN USER_DEPARTMENT D ON M.USER_NO = D.USER_NO
	          JOIN POSITION P ON D.P_CODE = P.P_CODE
			 WHERE B.BOARD_CD = #{boardCode}
			   AND B.DEPT_CODE = (SELECT D.DEPT_CODE
			 						FROM USER_DEPARTMENT D
			 					   WHERE D.USER_NO = #{userNo})
			   <if test='keyword != null and keyword !=""'>
				AND
				<choose>
					<when test='condition == "writer"'>
						USER_NAME LIKE '%${keyword}%'
						OR
						P_NAME LIKE '%${keyword}%'
					</when>
					<when test='condition == "title"'>
						BOARD_TITLE LIKE '%${keyword}%'
					</when>
					<when test='condition == "content"'>
						BOARD_CONTENT LIKE '%${keyword}%'
					</when>
				</choose>
				</if>				   
			 </when>
			 
			 <when test='boardCode == "N"'>
			 SELECT B.BOARD_NO, B.BOARD_TITLE, B.BOARD_WRITER, B.CREATE_DATE, B.COUNT, FIXED
			 FROM BOARD B
		 	WHERE B.BOARD_CD = #{boardCode}
		 	<if test='keyword != null and keyword !=""'>
			AND
			<choose>
				<when test='condition == "writer"'>
					B.BOARD_WRITER LIKE '%${keyword}%'
				</when>
				<when test='condition == "title"'>
					BOARD_TITLE LIKE '%${keyword}%'
				</when>
				<when test='condition == "content"'>
					BOARD_CONTENT LIKE '%${keyword}%'
				</when>
			</choose>
			</if>
			 </when>
			 
			 <otherwise>
			 SELECT B.BOARD_NO, B.BOARD_TITLE, M.USER_NAME, B.CREATE_DATE, B.COUNT, P.P_NAME, FIXED
			 FROM BOARD B
          	 LEFT JOIN MEMBER M ON B.BOARD_WRITER = M.USER_NO
          	 LEFT JOIN USER_DEPARTMENT D ON D.USER_NO = M.USER_NO
          	 LEFT JOIN POSITION P ON D.P_CODE = P.P_CODE
		 	WHERE B.BOARD_CD = #{boardCode}
		 	<if test='keyword != null and keyword !=""'>
			AND
			<choose>
				<when test='condition == "writer"'>
					USER_NAME LIKE '%${keyword}%'
					OR
					P_NAME LIKE '%${keyword}%'
				</when>
				<when test='condition == "title"'>
					BOARD_TITLE LIKE '%${keyword}%'
				</when>
				<when test='condition == "content"'>
					BOARD_CONTENT LIKE '%${keyword}%'
				</when>
			</choose>
			</if>
			 </otherwise>
		 </choose>
		 ORDER BY 
		 	<if test='boardCode == "N"'>
		 		FIXED = 'Y' DESC,
		 	</if>
		 		CREATE_DATE DESC, BOARD_NO DESC;
	</select>

	<!-- [혜린] - 게시글 수 카운트 -->
	<select id="selectBoardListCount" resultType="_int">
	SELECT COUNT(*)
	FROM BOARD B
	<if test='boardCode == "T"'>
	JOIN MEMBER M ON B.BOARD_WRITER = M.USER_NO
	JOIN USER_DEPARTMENT D ON M.USER_NO = D.USER_NO
	</if>
	WHERE BOARD_CD = #{boardCode}
	 <if test='boardCode == "T"'>
	AND  B.DEPT_CODE = (SELECT D.DEPT_CODE
			 			FROM USER_DEPARTMENT D
			 			WHERE D.USER_NO = #{userNo})
	</if>
	</select>

	<!-- [혜린] - 검색된 게시글 수 카운트--> 
	<select id="searchBoardListCount" resultType="_int">
	SELECT COUNT(*)
	FROM BOARD B
	<if test='boardCode == "T" or boardCode == "F"'>
	JOIN MEMBER M ON B.BOARD_WRITER = M.USER_NO
	JOIN USER_DEPARTMENT D ON M.USER_NO = D.USER_NO
	JOIN POSITION P ON D.P_CODE = P.P_CODE
	</if>
	WHERE BOARD_CD = #{boardCode}
	 <if test='boardCode == "T"'>
	AND  D.DEPT_CODE = (SELECT D.DEPT_CODE
			 			FROM USER_DEPARTMENT D
			 			WHERE D.USER_NO = #{userNo})
	</if>
	<if test='keyword != null and keyword !=""'>
	AND
	<choose>
		<when test='condition == "writer"'>
			<if test='boardCode == "T" or boardCode == "F"'>
			USER_NAME LIKE '%${keyword}%'
			OR
			P_NAME LIKE '%${keyword}%'
			</if>
			<if test='boardCode == "N"'>
			BOARD_WRITER LIKE '%${keyword}%'
			</if>
		</when>
		<when test='condition == "title"'>
			BOARD_TITLE LIKE '%${keyword}%'
		</when>
		<when test='condition == "content"'>
			BOARD_CONTENT LIKE '%${keyword}%'
		</when>
	</choose>
	</if>
	;
	</select>
	
	<!-- [혜린] - 공지사항관리 권한 조회 -->
	<select id="selectNoticeRoll" resultType="_int">
		SELECT COUNT(*)
		FROM USER_ROLE
		WHERE USER_NO = #{userNo}
		 AND ROLE_CODE = 'B01';
	</select>
	
	<!-- [혜린] - 자유게시판관리 권한 조회 -->
	<select id="selectFreeRoll" resultType="_int">
		SELECT COUNT(*)
		FROM USER_ROLE
		WHERE USER_NO = #{userNo}
		 AND ROLE_CODE = 'B02';
	</select>
	
	<!-- [혜린] - 게시글 상세 조회 -->
	<select id="selectBoardDetail" resultMap="boardDetailResultSet" >
		<choose>
		<when test='boardCode == "N"'>
		SELECT BOARD_NO, BOARD_TITLE, BOARD_CONTENT, BOARD_WRITER, CREATE_DATE, COUNT
		FROM BOARD B
		</when>
		<otherwise>
		SELECT BOARD_NO, BOARD_TITLE, BOARD_CONTENT, BOARD_WRITER, M.USER_NAME, P.P_NAME, CREATE_DATE, COUNT
		FROM BOARD B
		LEFT JOIN MEMBER M ON B.BOARD_WRITER = M.USER_NO
		LEFT JOIN USER_DEPARTMENT D ON D.USER_NO = M.USER_NO
		LEFT JOIN POSITION P ON D.P_CODE = P.P_CODE
		</otherwise>
		</choose>
		WHERE BOARD_NO = #{boardNo}
	</select>
	
	<!-- [혜린] - 게시글 조회수 카운트 -->
	<update id="updateAddCount">
		UPDATE BOARD SET
		COUNT = COUNT +1
		WHERE BOARD_NO = #{boardNo}
	</update>

	<!-- [혜린] - 게시글 삭제 -->
	<delete id="boardDelete">
		DELETE FROM BOARD
		WHERE BOARD_NO = #{boardNo}
	</delete>

	<insert id="insertBoard" parameterType="board">
		INSERT INTO BOARD(BOARD_CD,
						  BOARD_TITLE,
						  BOARD_CONTENT,
						  BOARD_WRITER,
						  CREATE_DATE,
						  FIXED,
						  SECRET)
		VALUES (#{boardCd},
			    #{boardTitle},
			    #{boardContent},
			    #{boardWriter},
			    #{createDate},
			    #{fixed},
			    #{secret})
	</insert>







</mapper>
