<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="calendarMapper">
<!-- [혜린 - 캘린더 매퍼] -->

	<!-- 캘린더 일정 리스트 조회용 -->
	<resultMap type="calendar" id="calendarListResultSet">
		<id column="CALENDAR_NO" property="calendarNo"/>
		<result column="CATEGORY" property="category"/>
		<result column="USER_NO" property="userNo"/>
		<result column="DEPT_CODE" property="deptCode"/>
		<result column="TITLE" property="title"/>
		<result column="CONTENT" property="content"/>
		<result column="START_DATE" property="startDate"/>
		<result column="END_DATE" property="endDate"/>
		<result column="COLOR" property="color"/>
		<result column="ID" property="id"/>
		<result column="START" property="start"/>
		<result column="END" property="end"/>
		<result column="BORDER_COLOR" property="borderColor"/>
		<result column="BACKGROUND_COLOR" property="backgroundColor"/>
		<result column="NAME" property="name"/>
	</resultMap>
	
	<!-- 캘린더 내부 메모 -->
	<resultMap type="calendarMemo" id="memoResultSet">
		<id column="USER_NO" property="userNo"/>
		<result column="MEMO" property="memo"/>
	</resultMap>
	
	<!-- 개인캘린더 일정 조회 -->
	<select id="myCalendarList" resultMap="calendarListResultSet">
		SELECT CALENDAR_NO AS ID,
			   CATEGORY,
			   USER_NO,
			   DEPT_CODE,
			   TITLE,
			   CONTENT,
			   START_DATE AS START,
			   DATE_ADD(END_DATE, INTERVAL 1 DAY) AS END,
			   COLOR AS BORDER_COLOR,
			   COLOR AS BACKGROUND_COLOR,
			   D_DAY
		FROM CALENDAR
		WHERE CATEGORY = 'M' AND USER_NO = #{userNo}
		UNION
		SELECT CALENDAR_NO AS ID,
			   CATEGORY,
			   USER_NO,
			   DEPT_CODE,
			   TITLE,
			   CONTENT,
			   START_DATE AS START,
			   DATE_ADD(END_DATE, INTERVAL 1 DAY) AS END,
			   COLOR AS BACKGROUND_COLOR,
			   COLOR AS BORDER_COLOR,
			   D_DAY 
		FROM CALENDAR 
		WHERE CATEGORY = 'H' AND USER_NO = #{userNo}; 
	</select>
	
	<!-- 팀캘린더 일정 조회 -->
	<select id="teamCalendarList" resultMap="calendarListResultSet">
		SELECT CALENDAR_NO AS ID,
			   CATEGORY,
			   USER_NO,
			   DEPT_CODE,
			   TITLE,
			   CONTENT,
			   START_DATE AS START,
			   DATE_ADD(END_DATE, INTERVAL 1 DAY) AS END,
			   COLOR AS BACKGROUND_COLOR,
			   COLOR AS BORDER_COLOR,
			   D_DAY
		FROM CALENDAR
		WHERE CATEGORY = 'T' AND DEPT_CODE = (SELECT DEPT_CODE
												FROM USER_DEPARTMENT
												WHERE USER_NO = #{userNo})
		UNION										
		SELECT CALENDAR_NO AS ID,
			   CATEGORY,
			   USER_NO,
			   DEPT_CODE,
			   TITLE,
			   CONTENT,
			   START_DATE AS START,
			   DATE_ADD(END_DATE, INTERVAL 1 DAY) AS END,
			   COLOR AS BACKGROUND_COLOR,
			   COLOR AS BORDER_COLOR,
			   D_DAY 
		FROM CALENDAR 
		WHERE USER_NO IN (
		SELECT USER_NO 
		FROM USER_DEPARTMENT
		WHERE CATEGORY = 'H' AND DEPT_CODE = (SELECT DEPT_CODE
		FROM USER_DEPARTMENT
		WHERE USER_NO = #{userNo}))										
	</select>
	
	<!-- 캘린더 전체(개인+팀) 일정 조회 -->
	<select id="fullCalendarList" resultMap="calendarListResultSet">
		SELECT CALENDAR_NO AS ID,
			   CATEGORY,
			   USER_NO,
			   DEPT_CODE,
			   TITLE,
			   CONTENT,
			   START_DATE AS START,
			   DATE_ADD(END_DATE, INTERVAL 1 DAY) AS END,
			   COLOR AS BACKGROUND_COLOR,
			   COLOR AS BORDER_COLOR,
			   D_DAY
		FROM CALENDAR
		WHERE (CATEGORY = 'T' AND DEPT_CODE = (SELECT DEPT_CODE
												FROM USER_DEPARTMENT
												WHERE USER_NO = #{userNo})) OR (CATEGORY = 'M' AND USER_NO = #{userNo})
		UNION										
		SELECT CALENDAR_NO AS ID,
			   CATEGORY,
			   USER_NO,
			   DEPT_CODE,
			   TITLE,
			   CONTENT,
			   START_DATE AS START,
			   DATE_ADD(END_DATE, INTERVAL 1 DAY) AS END,
			   COLOR AS BACKGROUND_COLOR,
			   COLOR AS BORDER_COLOR,
			   D_DAY 
		FROM CALENDAR 
		WHERE USER_NO IN (
		SELECT USER_NO 
		FROM USER_DEPARTMENT
		WHERE CATEGORY = 'H' AND DEPT_CODE = (SELECT DEPT_CODE
		FROM USER_DEPARTMENT
		WHERE USER_NO = #{userNo}))					
	</select> 
	
	<!-- 일정 추가 -->
	<insert id="insertEvent" parameterType="calendar">
		INSERT INTO CALENDAR(CATEGORY, 
							 USER_NO,
							 <if test='category == "T"'>
							 DEPT_CODE, 
							 </if>
							 TITLE, 
							 CONTENT, 
							 START_DATE, 
							 END_DATE, 
							 COLOR, 
							 D_DAY)
		VALUES (#{category},
		        #{userNo},
		        <if test='category == "T"'>
		        #{deptCode},
		        </if>
		        #{title},
		        #{content},
		        #{startDate},
		        #{endDate},
		        #{color},
		        #{dDay})
	</insert>
	
	<!-- 일정번호로 일정정보 조회 -->
	<select id="selectEvent" resultMap="calendarListResultSet">
		SELECT CALENDAR_NO AS ID,
				   CATEGORY,
				   USER_NO,
				   DEPT_CODE,
				   TITLE,
				   CONTENT,
				   START_DATE AS START,
				   END_DATE AS END,
				   COLOR AS BACKGROUND_COLOR,
				   COLOR AS BORDER_COLOR,
				   D_DAY
			FROM CALENDAR
			WHERE CALENDAR_NO = #{cno}
	</select>
	
	<!-- 일정수정 -->
	<update id="updateEvent" parameterType="calendar">
		UPDATE CALENDAR SET
			CATEGORY = #{category},
			TITLE = #{title},
			CONTENT = #{content},
			START_DATE = #{startDate},
			END_DATE = #{endDate},
			COLOR = #{color},
			D_DAY = #{dDay},
			<choose>
			<when test='deptCode == -10'>
			DEPT_CODE = NULL
			</when>
			<otherwise>
			DEPT_CODE = #{deptCode}
			</otherwise>
			</choose>
		WHERE CALENDAR_NO = #{calendarNo}
	</update>
	
	<!-- 일정삭제 -->
	<delete id="deleteEvent">
		DELETE FROM CALENDAR
		WHERE CALENDAR_NO = #{cno}
	</delete>
	
	<!-- 연차일정 삭제 -->
	<delete id="deleteApvEvent">
		DELETE FROM CALENDAR
		WHERE CATEGORY = 'H'
		AND CONTENT = #{content}
	</delete>
	
	<!-- 메모 추가 -->
	<insert id="insertMemo" parameterType="calendarMemo">
	 	INSERT INTO CALENDAR_MEMO(USER_NO, MEMO)
	 					VALUES(#{userNo}, #{memo})
	</insert>
	
	<!-- 메모 수정 -->
	<update id="updateMemo" parameterType="calendarMemo">
		UPDATE CALENDAR_MEMO SET
			MEMO = #{memo}
		WHERE USER_NO = #{userNo}
	</update>
	
	<!-- 메모 조회 (존재확인용) -->
	<select id="selectMemo" resultMap="memoResultSet">
		SELECT *
		FROM CALENDAR_MEMO
		WHERE USER_NO = #{userNo}
	</select>
	
	<!-- 디데이 조회 -->
	<select id="dDayList" resultMap="calendarListResultSet">
		SELECT CONCAT('+',CAST(ABS(DATEDIFF(DATE(START_DATE), NOW())) AS CHAR)) AS NAME, TITLE , START_DATE, CALENDAR_NO
				FROM CALENDAR
				WHERE D_DAY = 'Y' AND ((CATEGORY = 'T' AND DEPT_CODE = (SELECT DEPT_CODE
														FROM USER_DEPARTMENT
														WHERE USER_NO =  #{userNo})) 
				OR (CATEGORY = 'M' AND USER_NO = #{userNo}))
				AND DATEDIFF(DATE(START_DATE), NOW()) <![CDATA[ < ]]> 0
		UNION
		SELECT CAST(DATEDIFF(DATE(START_DATE), NOW())*-1 AS CHAR) AS NAME, TITLE, START_DATE, CALENDAR_NO
				FROM CALENDAR
				WHERE D_DAY = 'Y' AND ((CATEGORY = 'T' AND DEPT_CODE = (SELECT DEPT_CODE
														FROM USER_DEPARTMENT
														WHERE USER_NO =  #{userNo})) 
				OR (CATEGORY = 'M' AND USER_NO =  #{userNo}))
		        AND DATEDIFF(DATE(START_DATE), NOW()) > 0
		 UNION      
		 SELECT CONCAT('-',CAST(DATEDIFF(DATE(START_DATE), NOW()) AS CHAR)) AS NAME, TITLE, START_DATE, CALENDAR_NO
				FROM CALENDAR
				WHERE D_DAY = 'Y' AND ((CATEGORY = 'T' AND DEPT_CODE = (SELECT DEPT_CODE
														FROM USER_DEPARTMENT
														WHERE USER_NO =  #{userNo})) 
				OR (CATEGORY = 'M' AND USER_NO =  8))
		        AND DATEDIFF(DATE(START_DATE), NOW()) = 0   
		        
		 ORDER BY START_DATE ASC
		 LIMIT 8
	</select>
	
	<update id="dDayNone" parameterType="calendar">
		UPDATE CALENDAR SET
		D_DAY = 'N'
		WHERE CALENDAR_NO = #{calendarNo}
	</update>
	
</mapper>
