<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="chatMapper">

	<resultMap type="ChatParticipant" id="chatRoomResultSet">
		<id column="CHATROOM_NO" property="chatRoomNo"/>
		<result column="ROOM_NAME" property="roomName" />
		<result column="USER_NAME" property="userName" />
		<result column="USER_NO" property="userNo" />
		<result column="PROFILE_IMG" property="profileImg"/>
	</resultMap>

	<select id="selectChatRoomList" resultMap="chatRoomResultSet">
		SELECT
		CHATROOM_NO,
		ROOM_NAME,
		USER_NAME,
		PROFILE_IMG
		FROM CHAT_PARTICIPANT
		JOIN MEMBER USING(USER_NO)
		ORDER BY CHATROOM_NO DESC
	</select>	
	 
</mapper>
