<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="memberMapper">


<!-- [지영] member insert구문 -->
	<!-- member insert -->
	<insert id="insertMember" parameterType="member" useGeneratedKeys="true"  >
	
		<selectKey keyProperty="eno" resultType="_int" order="BEFORE">
	 		SELECT CAST(CONCAT(DATE_FORMAT(CURRENT_DATE, '%y'), LPAD(MONTH(CURRENT_DATE), 2, '0'), LPAD(right((SELECT ENO FROM member ORDER BY ENO DESC LIMIT 1), 2)+1, 2, '0' ))as SIGNED)
	 	</selectKey>
	
		INSERT INTO MEMBER(ENO,STATUS_TYPE, USER_PWD, USER_NAME ,PHONE,EXTENSION, EMAIL,ADDRESS, HIRE_DATE)
	   	VALUES(
	   	#{eno},
	   	0,
	   	#{userPwd},
	   	#{userName},
	   	#{phone},
	   	#{extension},
	   	#{email},
	   	#{address},
	   	#{hireDate})
	  		
	</insert>
	
	<!-- dept insert -->
	<insert id="insertUserDept" parameterType="userDepatment" useGeneratedKeys="true">
		<selectKey keyProperty="userNo" resultType="_int" order="BEFORE">
	 		SELECT USER_NO FROM member ORDER BY USER_NO DESC LIMIT 1
	 	</selectKey>
	 	
	 	INSERT INTO USER_DEPARTMENT(USER_NO,P_CODE, DEPT_CODE)
	   	VALUES(
	   	#{userNo},
	   	#{pCode},
	   	#{deptCode})
	   	
	</insert>
	
	<!--사용자에게 보여줄 eno select -->
	<select id="selectENO" resultType="_int" >
		SELECT ENO FROM member ORDER BY ENO DESC LIMIT 1
	</select>
	
<!-- [지영] member select 구문 -->	
<select id="selectMember">
	SELECT * FROM member
</select>


</mapper>
