<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="orgChartMapper">

	<!-- 상위부서 추가 -->
	<insert id="insertTopDp" parameterType="orgChart" useGeneratedKeys="true" keyProperty="deptCode">
		<selectKey resultType="int" keyProperty="deptCode" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		INSERT INTO DEPARTMENT(DEPT_NAME)
		VALUES(#{deptName})
	</insert>
	
	<!-- 상위부서명 변경 -->
	<update id="updateTopDp" parameterType="orgChart">
		UPDATE DEPARTMENT
		SET DEPT_NAME = #{deptName}
		WHERE DEPT_CODE = #{deptCode}
	</update>
	
	<!-- 하위부서 추가 -->
	<insert id="insertDp" parameterType="orgChart" useGeneratedKeys="true" keyProperty="deptCode">
		<!-- <selectKey resultType="int" keyProperty="deptCode" order="BEFORE">
			SELECT LAST_INSERT_ID()
		</selectKey> -->
		INSERT INTO DEPARTMENT(DEPT_NAME, TOP_DEPT_CODE)
		VALUES(#{deptName},#{topDeptCode})
	</insert>
	
	<!-- 하위부서명 변경 -->
	<update id="updateDp" parameterType="orgChart">
		UPDATE DEPARTMENT
		SET DEPT_NAME = #{deptName}
		WHERE DEPT_CODE = #{deptCode}
	</update>
</mapper>
