<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="orgChartMapper">

	<resultMap type="orgChart" id="orgChartResultSet">
		<result column="USER_NAME" property="userName"/>
		<result column="USER_NO" property="userNo"/>
		<result column="P_CODE" property="pCode"/>
		<result column="DEPT_CODE" property="deptCode"/>
		<result column="DEPT_NAME" property="deptName"/>
		<result column="P_NAME" property="pName"/>
		<result column="TOP_DEPT_CODE" property="topDeptCode"/>
	</resultMap>
	
	<resultMap type="department" id="departmentResultSet">
	  	<result column="DEPT_CODE" property="deptCode"/>
		<result column="DEPT_NAME" property="deptName"/>
		<result column="TOP_DEPT_CODE" property="topDeptCode"/>
	  	<result column="DEPT_NAME" property="deptName"/>
	</resultMap>
	
	<!-- 인사발령 사원 조회 -->
 	<resultMap type="orgChart" id="personnelResultSet">
	  	<result column="USER_NO" property="userNo"/>
	  	<result column="USER_NAME" property="userName"/>
	  	<result column="P_NAME" property="pName"/> 
	  	<result column="DEPT_COUNT" property="deptCount"/>
	</resultMap>

	<!-- =================== [select] =================== -->
	
	<!-- 전체 부서 조회 -->
	<select id="selectDept" parameterType="orgChart" resultType="_int">
		SELECT COUNT(*) 
		FROM USER_DEPARTMENT 
		LEFT JOIN DEPARTMENT USING (DEPT_CODE) 
		WHERE DEPT_CODE in (SELECT DEPT_CODE     
							FROM DEPARTMENT
							WHERE 
							 <if test='topDeptCode == 0'> 
								 TOP_DEPT_CODE = #{deptCode})
							 </if>
							  <if test='topDeptCode != 0'> 
								 DEPT_CODE = #{deptCode} AND TOP_DEPT_CODE = #{topDeptCode})
							  </if>
			
	</select>
	
	<!-- 하위 부서 인원 조회 -->
	<select id="selectAllDeptList" resultMap="departmentResultSet">
		SELECT D.*,
		       (SELECT COUNT(*)
		        FROM USER_DEPARTMENT U
		        WHERE U.DEPT_CODE = D.DEPT_CODE) AS DEPT_COUNT
		FROM DEPARTMENT D;
	</select>
	
	<!-- 직급 조회 -->
	<select id="selectPosition" parameterType="orgChart" resultType="_int">
		SELECT COUNT(*) 
		FROM USER_DEPARTMENT 
		LEFT JOIN POSITION USING (P_CODE) 
		WHERE P_CODE in (SELECT P_CODE     
							FROM POSITION
							WHERE P_CODE = #{pCode});
			
	</select>
	
	<!-- 하위부서 조회 - 조직도 현황용 -->
	<select id="selectTopDeptList" resultType="orgChart">
		SELECT *
		FROM DEPARTMENT
		WHERE TOP_DEPT_CODE = #{deptCode}
	</select>
	
	<!-- 하위부서에 속한 사원 조회 - 조직도 현황용 -->
	<select id="selectTopDeptUser" resultType="orgChart">
		SELECT USER_NAME,
				DEPT_NAME,
				P_NAME,
				DEPT_CODE
				TOP_DEPT_CODE,
				USER_NO
		FROM USER_DEPARTMENT
        LEFT JOIN MEMBER USING (USER_NO)
		LEFT JOIN DEPARTMENT USING (DEPT_CODE)
        LEFT JOIN POSITION USING (P_CODE)
		WHERE DEPT_CODE = #{deptCode}
	</select>
	
	<select id="selectPersonnel" parameterType="orgChart" resultMap="personnelResultSet">
		SELECT  USER_NAME,
				D.DEPT_NAME,
				P_NAME,
				USER_NO,
				P_CODE,
				D.DEPT_CODE,
				D.TOP_DEPT_CODE,
                T.DEPT_NAME AS "TOP_DEPT_NAME"
		FROM USER_DEPARTMENT UD
        LEFT JOIN MEMBER USING (USER_NO)
		LEFT JOIN DEPARTMENT D USING (DEPT_CODE)
        LEFT JOIN DEPARTMENT T ON (D.TOP_DEPT_CODE = T.DEPT_CODE)
        LEFT JOIN POSITION USING (P_CODE)
		WHERE UD.DEPT_CODE = #{deptCode} AND D.TOP_DEPT_CODE = #{topDeptCode} AND STATUS = 'Y';
	</select>
	
	<!-- =================== [insert] =================== -->

	<!-- 상위부서 추가 -->
	<insert id="insertTopDp" parameterType="orgChart" useGeneratedKeys="true" keyProperty="deptCode">
		<!-- <selectKey resultType="int" keyProperty="deptCode" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey> -->
		INSERT INTO DEPARTMENT(DEPT_NAME)
		VALUES(#{deptName})
	</insert>
	
	<!-- 하위부서 추가 -->
	<insert id="insertDp" parameterType="orgChart" useGeneratedKeys="true" keyProperty="deptCode">
		<!-- <selectKey resultType="int" keyProperty="deptCode" order="BEFORE">
			SELECT LAST_INSERT_ID()
		</selectKey> -->
		INSERT INTO DEPARTMENT(DEPT_NAME, TOP_DEPT_CODE)
		VALUES(#{deptName},#{topDeptCode})
	</insert>
	
	<!-- 직급 추가 -->
	<insert id="insertPname" parameterType="orgChart" useGeneratedKeys="true" keyProperty="pCode">
		INSERT INTO POSITION (P_NAME)
		VALUES(#{pName})
	</insert>
	
	<!-- =================== [update] =================== -->
	
	<!-- 부서명 변경 -->
	<update id="updateTopDp" parameterType="orgChart">
		UPDATE DEPARTMENT
		SET DEPT_NAME = #{deptName}
		WHERE DEPT_CODE = #{deptCode}
	</update>
	
	<!-- 직급명 변경 -->
	<update id="updatePname" parameterType="orgChart">
		UPDATE POSITION
		SET P_NAME = #{pName}
		WHERE P_CODE = #{pCode}
	</update>
	
	<!-- 인사발령 -->
	<update id="updatePersonnel" parameterType="java.util.List">
		<foreach collection="resendList" item="userDepartment" separator=";">
		UPDATE USER_DEPARTMENT
		SET DEPT_CODE = #{userDepartment.deptCode}, P_CODE = #{userDepartment.pCode}
		WHERE USER_NO = #{userDepartment.userNo}
		</foreach>
	</update>
	
	<!-- =================== [delete] =================== -->
	
	<!-- 상위부서 삭제 -->
	<delete id="deleteDeptCode" parameterType="map">
		<!-- set sql_safe_updates=0 -->
		DELETE
		FROM DEPARTMENT
		WHERE DEPT_CODE = #{deptCode}
	</delete>
	
	<!-- 직급 삭제 -->
	<delete id="deletePosition">
		<!-- set sql_safe_updates=0 -->
		DELETE
		FROM POSITION
		WHERE P_CODE = #{pCode}
	</delete>
	
</mapper>
