<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="roleMapper">

	<!-- =================== [insert] =================== -->
	<!-- [지영]부서-직급별 권한 생성 -->
	<insert id="roleGrantinginesrt" parameterType="departmentRole">
		INSERT INTO department_role(DEPT_CODE,P_CODE,ROLE_CODE)
		VALUE (#{deptCode},#{pCode},#{roleCode})
	</insert>
	
	
	<!-- [지영]user별 권한 생성 -->
	<insert id="userRoleGrantinginesrt" parameterType="userRole">
		INSERT INTO user_role(USER_NO,ROLE_CODE)
		 VALUE (#{userNo},#{roleCode})
	</insert>

	<!-- =================== [select] =================== -->
	
	<!-- [지영] 부서-직급별 권한 -->
	<select id="roleSelect"  resultType="departmentRole" parameterType="departmentRole">
		SELECT * 
		FROM department_role
		WHERE DEPT_CODE = #{deptCode} AND P_CODE = #{pCode}
	</select>
	
	<!-- [지영] 권한 리스트-->
	<select id="roleListSelct"  resultType="roleList" >
		SELECT * 
		FROM role_list
	</select>
	
	<!-- [유저] 권한 조회 -->
	<select id="userRoleSelect" resultType="userRole">
		SELECT * 
		FROM user_role
		WHERE USER_NO = #{userNo}
	</select>
	
	
	<!-- =================== [delete] =================== -->
	
	<!-- [지영]부서-직급별 권한 삭제 -->
	<delete id="roleGrantingdelete" parameterType="departmentRole">
		DELETE FROM department_role 
		WHERE DEPT_CODE = #{deptCode}
		AND P_CODE = #{pCode}
		AND ROLE_CODE = #{roleCode} 
	</delete>
	
	<!-- [지영]유저 권한 삭제 -->
	<delete id="userRoleGrantingdelete" parameterType="userRole">
		DELETE FROM user_role 
		WHERE USER_NO = #{userNo}
		AND ROLE_CODE = #{roleCode}
	</delete>

	
  
</mapper>
