<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="salaryMapper">

	<!-- =================== [select] =================== -->
	
	<!-- [지영] 로그인 유저 급여조회 -->
	<select id="employeeSalary"  resultType="salary" parameterType="hashMap">
		SELECT SALARY_NO,YEAR_REPORTED,MON_REPORTED,
		 PAYMENT_DATE,FORMAT(TOTAL_GROSSPAY,0) AS TOTAL_GROSSPAY,
		 FORMAT(TOTAL_DEDUCTIONS,0) AS TOTAL_DEDUCTIONS,
		 FORMAT(NET_PAY,0) AS NET_PAY
		FROM salary
		WHERE USER_NO = #{userNo}
		<if test='year != null '>
	      AND YEAR_REPORTED = #{year}
	    </if>
	    <if test='month != 13 and month != null'>
	      AND MON_REPORTED = #{month}
	    </if>
		ORDER BY PAYMENT_DATE DESC, SALARY_NO DESC LIMIT 12;
	</select>
  
  	<!-- [지영] 모달 ajax -->
  	<select id="salaryOne" resultType="salary" parameterType="_int">
  		SELECT SALARY_NO,YEAR_REPORTED,MON_REPORTED,
		 PAYMENT_DATE,FORMAT(TOTAL_GROSSPAY,0) AS TOTAL_GROSSPAY,
		 FORMAT(TOTAL_DEDUCTIONS,0) AS TOTAL_DEDUCTIONS,
		 FORMAT(NET_PAY,0) AS NET_PAY,
		 PAYMENTS,
		 DEDUCTION
		FROM salary
		WHERE SALARY_NO = #{id}
  	</select>
  
  
  
</mapper>
