<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="salaryMapper">



	<!-- =================== [insert] =================== -->
	<insert id="insertSalary" parameterType="java.util.List">
		INSERT INTO SALARY (USER_NO,
		USER_NAME,YEAR_REPORTED,MON_REPORTED,PAYMENT_DATE,TOTAL_GROSSPAY,
		TOTAL_DEDUCTIONS,NET_PAY,PAYMENTS,DEDUCTION,P_NAME,DEPT_NAME)
		VALUES
		<foreach item="s" collection="list" separator=",">
			(#{s.userNo},#{s.userName}, #{s.yearReported},
			#{s.monReported},#{s.sPaymentDate},IFNULL(#{s.totalGrosspay},''),IFNULL(#{s.totalDeductions},''),IFNULL(#{s.netPay},''),IFNULL(#{s.payments},''),IFNULL(#{s.deduction},''),#{s.pName},#{s.deptName})
		</foreach>
	</insert>

	<!-- =================== [select] =================== -->

	<!-- [지영] 로그인 유저 급여조회 -->
	<select id="employeeSalary" resultType="salary"
		parameterType="hashMap">
		SELECT SALARY_NO,YEAR_REPORTED,MON_REPORTED,
		PAYMENT_DATE,TOTAL_GROSSPAY,
		TOTAL_DEDUCTIONS,
		NET_PAY
		FROM SALARY
		WHERE USER_NO = #{userNo}
		<if test='year != null '>
			AND YEAR_REPORTED = #{year}
		</if>
		<if test='month != 13 and month != null'>
			AND MON_REPORTED = #{month}
		</if>
		ORDER BY PAYMENT_DATE DESC, SALARY_NO DESC LIMIT 12;
	</select>

	<!-- [지영] 모달 ajax FORMAT(TOTAL_DEDUCTIONS,0) -->
	<select id="salaryOne" resultType="salary" parameterType="_int">
		SELECT SALARY_NO,YEAR_REPORTED,MON_REPORTED,
		DATE_FORMAT(PAYMENT_DATE, '%Y-%m-%d') S_PAYMENT_DATE,TOTAL_GROSSPAY,
		TOTAL_DEDUCTIONS,
		NET_PAY,P_NAME,DEPT_NAME,
		PAYMENTS,
		DEDUCTION
		FROM SALARY
		WHERE SALARY_NO = #{id}
	</select>

	<!-- [지영] 모든유저 급여조회 -->
	<select id="employeeAllSalary" resultType="salary"
		parameterType="hashMap">
		SELECT SALARY_NO,YEAR_REPORTED,MON_REPORTED,
		PAYMENT_DATE,TOTAL_GROSSPAY,
		TOTAL_DEDUCTIONS,
		NET_PAY,ENO,S.USER_NAME
		FROM SALARY S
		left JOIN MEMBER USING(USER_NO)
		<where>
			<if test='year != null'>
				YEAR_REPORTED = #{year}
			</if>
			<if test='month != 13 and month != null'>
				AND MON_REPORTED = #{month}
			</if>
			<if test='team != "부서명" and team != null'>
				AND DEPT_NAME = #{team}
			</if>
			<if test='no != null'>
				AND USER_NO IN
				<foreach item="uno" collection="no" separator="," open="("
					close=")">
					#{uno}
				</foreach>
			</if>
		</where>
		ORDER BY PAYMENT_DATE DESC, SALARY_NO DESC
	</select>

	<!-- count 용 -->
	<select id="employeeAllSalaryCount" resultType="_int"
		parameterType="hashMap">
		SELECT COUNT(*)
		FROM SALARY
		<where>
			<if test='year != null'>
				YEAR_REPORTED = #{year}
			</if>
			<if test='month != 13 and month != null'>
				AND MON_REPORTED = #{month}
			</if>
			<if test='team != "부서명" and team != null'>
				AND DEPT_NAME = #{team}
			</if>
			<if test='no != null'>
				AND USER_NO IN
				<foreach item="uno" collection="no" separator="," open="("
					close=")">
					#{uno}
				</foreach>
			</if>
		</where>
	</select>

	<!-- [지영] 모든유저 급여조회 -->
	<select id="salaryList" resultType="String">
		SELECT DISTINCT DEPT_NAME
		FROM SALARY
	</select>


	<select id="selectUserCope" resultType="salary"
		parameterType="hashMap">
		SELECT * FROM SALARY
		where USER_NO = #{no}
		<if test='month == 1'>
			AND YEAR_REPORTED = (#{year}-1)
			AND MON_REPORTED =(#{month}+11)
		</if>
		<if test='month != 1'>
			AND YEAR_REPORTED = #{year}
			AND MON_REPORTED =(#{month}-1)
		</if>
		ORDER BY PAYMENT_DATE DESC LIMIT 1;
	</select>

	<!-- [지영] 5년 지난 데이터 조회 : 스케줄용 -->
	<select id="deleteSalayselect" resultType="_int">
		SELECT SALARY_NO
		FROM SALARY
		WHERE (YEAR(SYSDATE())-5) > YEAR_REPORTED
	</select>


	<!-- =================== [update] =================== -->
	<!-- [지영] 모든유저 급여업데이트 -->
	<update id="salaryUpdate" parameterType="salary">
		UPDATE SALARY
		SET NET_PAY = #{netPay},
		PAYMENTS = #{payments},
		DEDUCTION = #{deduction},
		TOTAL_GROSSPAY = #{totalGrosspay},
		TOTAL_DEDUCTIONS = #{totalDeductions}

		WHERE SALARY_NO = #{salaryNo}
	</update>


	<!-- =================== [delete] =================== -->
	<!-- [지영] 모든유저 급여삭제 -->
	<delete id="salaryDelete">
		DELETE FROM SALARY
		WHERE SALARY_NO = #{num}
	</delete>

	<!-- [지영] 5년 지난 데이터 조회 : 스케줄용 -->
	<delete id="deleteSalay" parameterType="java.util.List">
		<foreach collection="list" item="salaryNo" separator=";">
			DELETE FROM SALARY
			WHERE SALARY_NO = #{salaryNo}
		</foreach>
	</delete>


</mapper>
